.mainContent {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background-color: #b6dfe3;
  height: 100%;
  overflow: auto;
  font-size: 14px;
}

.cardContainer {
  flex-direction: column;
  padding: 5px;
}

.infiniteScroll {
  height: 0;
  width: 0;
  overflow: hidden;
}