.appContainer {
  position: relative;
  flex-direction: column;
  width: 100%;    
  min-height: 100%;
  padding-bottom: 30px;
}

@media (max-width: 650px) {
  .appContainer {
    padding-bottom: 20px;
  }
}